<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="/assets/vendor/foundation-sites/dist/foundation.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/foundation-icons/foundation-icons.css">
    <link rel="stylesheet" href="/assets/css/pascalvervest.css">

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
    <div class="callout large primary">
        <div class="row column text-center">
            <h1>pascalvervest.nl</h1>
        </div>
    </div>
    <div class="row">
        <div class="medium-6 columns">
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/page/about">About me</a></li>
                <li><a href="/page/contact">Contact</a></li>
            </ul>
        </div>
    </div>

    <div class="content">
    {% block body %}{% endblock %}
    </div>

<footer class="footer">
    <div class="row">
        <div class="small-12 medium-6 large-5 columns">
            <p class="logo"><i class="fi-shield"></i>pascalvervest.nl</p> 
            <p class="footer-links">
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">Contact</a>
            </p>
        </div>
        {#<div class="small-12 medium-6 large-4 columns">
            <ul class="contact">
                <li><p><i class="fi-marker"></i>1595 Spring Street New Britain, CT 06051</p></li>
                <li><p><i class="fi-telephone"></i>+1-656-453-9966</p></li>
                <li><p><i class="fi-mail"></i>contact@emperor.com</p></li>
            </ul>
        </div>#}
        <div class="small-12 medium-12 large-3 columns">
            <p class="about">About Pascal Vervest</p>
            <ul class="inline-list social">
                <a target="_BLANK" href="https://www.facebook.com/pascalvervest"><i class="fa fa-facebook-official"></i></a>
                <a target="_BLANK"  href="https://github.com/pascalvervest"><i class="fa fa-github"></i></a>
                <a target="_BLANK"  href="http://www.last.fm/user/lifeblind"><i class="fa fa-lastfm"></i></a>
                <a target="_BLANK"  href="https://twitter.com/pascalvervest"><i class="fa fa-twitter"></i></a>
                <a target="_BLANK"  href="https://nl.linkedin.com/in/pascalvervest"><i class="fa fa-linkedin"></i></a>

            </ul>
        </div>
    </div>
</footer>


{% block javascripts %}{% endblock %}
</body>
</html>
